:root {
    background-color: #131516;
    color: white;
}

a {
    text-decoration: none;
}

#black {
    transition: all 100ms ease-in;
    background-color: #16213E;
    box-shadow: 0 5px 0 #0a0f1f;
}

#black:hover {
    transition: all 100ms ease-in;
    transform: translateY(-3px);
    box-shadow: 0 8px 0 #0a0f1f;
}

#black:active {
    transition: all 50ms ease-in;
    transform: translateY(5px);
    box-shadow: 0 0 0 rgb(131, 178, 195);
}

#red {
    transition: all 100ms ease-in;
    background-color: rgb(210, 90, 90);
    box-shadow: 0 5px 0 rgb(168, 62, 62);
}

#red:hover {
    transition: all 100ms ease-in;
    transform: translateY(-3px);
    box-shadow: 0 8px 0 rgb(168, 62, 62);
}

#red:active {
    transition: all 50ms ease-in;
    transform: translateY(5px);
    box-shadow: 0 0 0 rgb(131, 178, 195);
}

#blue {
    transition: all 100ms ease-in;
    background-color: rgb(54, 110, 130);
    box-shadow: 0 5px 0 rgb(40, 87, 106);
}

#blue:hover {
    transition: all 100ms ease-in;
    transform: translateY(-3px);
    box-shadow: 0 8px 0 rgb(40, 87, 106);
}

#blue:active {
    transition: all 50ms ease-in;
    transform: translateY(5px);
    box-shadow: 0 0 0 rgb(131, 178, 195);
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #191c1d;
    height: auto;
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(146, 146, 146);
    display: grid;
    place-items: center;
    font-family: monospace;
}

header {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-bottom: 1px solid grey;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    width: 20px;
    padding-right: 5px;
}

a {
    color: white;
}

.container {
    display: grid;
    place-items: center;
}

.main {
    display: grid;
    place-items: center;
    height: 85vh;
}
.button {
	margin: 10px;
	color: white;
	text-align: center;
	width: 250px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 32px;
	padding-right: 32px;
	border-radius: 15px;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	align-content: center;
	align-items: center;
	background-color: #F8EDE3;
	box-shadow: 0 5px 0 #DFD3C3;
	color: white;
}

a {
	text-decoration: none;
}

.button:hover {
	background-color: #f9f1e9;
	box-shadow: 0 5px 0 #e1d9d0;
}

.button:active {
	transform: translateY(5px);
	box-shadow: 0 0 0 #e98686;
}