:root {
    background-color: #131516;
    color: white;
}

a {
    text-decoration: none;
}

footer{
    background: #191c1d;
    color: rgb(146, 146, 146);
}

header {
    border-bottom: 1px solid grey;
}