html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

footer{
    height: auto;
    width: 99vw;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    place-items: center;
    font-family: monospace;
    position:absolute;
    left:0px;
    bottom:0px;
    background:#999;
}

header {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
}

.burgermenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 64px;
    left: 0px;
    width: 100vw;
    font-family: monospace;
    font-size: 22px;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
}

img {
    width: 20px;
    padding-right: 5px;
}

.container {
    display: grid;
    place-items: center;
}

.main {
    display: grid;
    place-items: center;
    height: 85vh;
}

@media only screen and (max-width: 250px) {
    cbutton {
        width: 80%;
    }
}

cbutton {
    transition: all 100ms ease-in;
    margin: 10px;
    text-align: center;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
    align-items: center;
}

cbutton:hover {
    transition: all 100ms ease-in;
    transform: translateY(-3px);
    cursor: pointer;
}

cbutton:active {
    transition: all 50ms ease-in;
    transform: translateY(5px);
}

.textfield {
    transition: all 100ms ease-in;
    margin: 10px;
    text-align: center;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
    align-items: center;
    border: 0;
    text-align: left;
    background-color: #7FBCD2;
}

.textfield:hover {
    transition: all 100ms ease-in;
    background-color: #7FBCD2;
    border: 0;
}

.textfield:focus {
    transition: all 250ms ease-in;
    border: 0;
    background-color: #7FBCD2;
    transition: all 50ms ease-in;
    transform: translateY(-5px);
    box-shadow: 0 5px 0 rgb(87 148 170);
    outline: none !important;
}

.subheader {
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    display: flex;
    gap: 10px;
    font-family: monospace;
    font-size: 16px;
}

.headerlinks {
    font-weight: 400;
    padding-left: 20px;
    display: flex;
    gap: 20px;
}

#themebutton {
    cursor: pointer;
}