.page {
  max-width: 100vw;
  max-height: 100vh;
  width: calc(100vw - 400px);
  height: calc(100vh - 400px);
  padding: 150px;
  display: flex;
  flex-direction: column;
}

.header {
  /* color: #EA999C; */
  font-size: 152px;
  font-weight: 800;
  width: 700px;
  background: -webkit-linear-gradient(#EA999CFF, #E7828433);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheader {
  /* color: #EA999C; */
  display: flex;
  align-items: center;
  margin-top: auto;
}
.text {
  flex-grow: 1;
  font-size: 28px;
  font-weight: 400;
  width: 100%;
  background: -webkit-linear-gradient(#C6D0F5FF, #C6D0F566);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
  letter-spacing: 5px; 
}